<h1>Audit</h1>
{% for audit_host in ansible_play_hosts %}
<pre>{{ audit_host }}</pre>
{% endfor %}
{% if item.value %}
<h2>See diff below</h2>
{%   for name, data in item.value.items() %}
<details>
  <summary>{{ name }}</summary>
{%     for state, hosts in data.items() %}
{%       for host in ansible_play_hosts %}
{%         if host in hosts %}
<pre style="background: orange;">{{ state }}: {{ host }}</pre>
{%         else %}
<pre style="background: red;">absent: {{ host }}</pre>
{%         endif %}
{%       endfor %}
{%     endfor %}
</details>
{%   endfor %}
{% else %}
<h2>No diff</h2>
{% endif %}
